@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900&display=swap");

/*Table Responsive */
.product-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    .product-table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    .product-table th,
    .product-table td {
        padding: .625em;
        text-align: center;
    }

    .product-table img {
        width: 110px;
        height: auto;
    }

    .product-table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

@media screen and (max-width: 600px) {
    .product-table {
        border: 0;
    }

        .product-table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .product-table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        .product-table img {
            width: 150px;
            height: auto;
        }

        .product-table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            .product-table td::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            .product-table td:last-child {
                border-bottom: 0;
            }
}

.table-button {
    position: relative;
    text-decoration: none !important;
    display: inline-block;
    vertical-align: middle;
    border-color: #fb6c28;
    width: auto;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-style: double;
    border-width: 1px;
    background-color: #fb6c28 !important;
    -webkit-box-shadow: 0 4px 0 0 #ec4f04;
    box-shadow: 0 4px 0 0 #ec4f04;
    padding: 5px 10px;
    color: #fff !important;
    font-size: 15px;
    line-height: 1.3 !important;
    text-align: center;
}

    .table-button:hover {
        -webkit-box-shadow: rgba(3,3,3,.2) 0 3px 5px 0 !important;
        box-shadow: rgba(3,3,3,.2) 0 3px 5px 0 !important;
    }
/* Table Responsize End */
