<style type="text/css">
	video {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.carousel {
		border-radius: 20px;
	}

</style>
<section class="small-banner section">
	<div class="container">
		<div class="row">
			<div class="col">
				<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active" style="border-radius:10px">
							<a href="/Shop/Product/38">
								<img src="/Media/Shop/Banner/Ryzen.png" />
							</a>
							<div class="carousel-caption d-none d-md-block">
								<a href="/Shop/Product/38" class="button-border">
									View Offer
									<span class="button-border-highlight"></span>
								</a>
							</div>
						</div>
						<div class="carousel-item" style="border-radius:10px">
							<a href="/Shop/Product/84">
							<img src="/Media/Shop/Banner/Nivida.png" />
							</a>
							<div class="carousel-caption d-none d-md-block">
								<a href="/Shop/Product/84" class="button-border">
									View Offer
									<span class="button-border-highlight"></span>
								</a>
							</div>
						</div>
						<div class="carousel-item" style="border-radius:10px" loop>
							<a href="/Shop/Product/33">
							<img src="/Media/Shop/Banner/Intel.png">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<a href="/Shop/Product/33" class="button-border">
									View Offer
									<span class="button-border-highlight"></span>
								</a>
							</div>
						</div>
						<div class="carousel-item" style="border-radius:10px">
							<a href="/Shop/Product/81">
							<img src="/Media/Shop/Banner/Radoen.png" />
							</a>
							<div class="carousel-caption d-none d-md-block">
								<a href="/Shop/Product/81" class="button-border">
									View Offer
									<span class="button-border-highlight"></span>
								</a>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>