		<!-- Start Footer Area -->
<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top section" style="padding-bottom:10px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer about">									
						<div class="logo">
							<a href="/"><img src="/Media/Logo/LogoOfficial.png" alt="WazaWare Find The Right Price!" style="border-radius:10px;"></a>
						</div>
						<p class="text">We use Artificial Intelligence & Automated Scanners to find you the reliable products at the best available prices!</p>
						<p class="call">Got a Question? Call us<span><a href="tel:+27815650206">+27 81 565 0206</a></span></p>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Information</h4>
						<ul>
							<li><a href="#">How do we do it?</a></li>
							<li><a href="#">Terms & Conditions</a></li>
							<li><a href="#">View Google Ratings</a></li>
							<li><a href="#">Our Handling Fee</a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Customer Service</h4>
						<ul>
							<li><a href="#">Customer Support</a></li>
							<li><a href="#">Secure Payments</a></li>						
							<li><a href="#">Return Policy</a></li>
							<li>
								<a href="#" data-toggle="tooltip" data-placement="right" title="We don't share your data with anyone :)">
									Privacy Policy
								</a>
							</li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer social">
						<h4>Get In Touch</h4>
						<!-- Single Widget -->
						<div class="contact">
							<ul>
								<li>Milnerton, Montague Gardens</li>
								<li>City of Cape Town, Western Cape</li>
								<li>Postal/Street Code: 7441</li>
								<li>South Africa</li>
								<li>info@swfitlink.com</li>
								<li>+27 81 565 0206</li>
							</ul>
						</div>
						<!-- End Single Widget -->
						<ul>
							<li><a href="#"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-twitter"></i></a></li>
							<li><a href="#"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							<p>Copyright © 2023 <a href="/" target="_blank">WazaWare</a>  -  All Rights Reserved.</p>
							<p><a href="https://lordicon.com/">Animated Icons by Lordicon.com</a></p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right">
							<img src="~/Media/Misc/SecureLock.gif" alt="We use Encryption to make sure your data is Secure"
								 style="border-radius:10px; white-space: nowrap;" data-toggle="tooltip" data-placement="right" title="Your Data is Secure & Encrypted">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /End Footer Area -->