	<!-- Shop Services & Customer Gains  -->
<section class="shop-services section home" style="margin:15px 0">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
					<lord-icon src="https://cdn.lordicon.com/uetqnvvg.json"
							   trigger="loop-on-hover"
							   delay="1000"
							   colors="primary:#121331,secondary:#f7941d"
							   style="width:100px;height:100px">
					</lord-icon>
					<h4>Free shipping</h4>
					<p>Orders over R1500</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
					<lord-icon src="https://cdn.lordicon.com/kbtmbyzy.json"
							   trigger="loop-on-hover"
							   delay="1000"
							   colors="primary:#121331,secondary:#f7941d"
							   style="width:100px;height:100px">
					</lord-icon>
					<h4>Warranty Included</h4>
					<p>Up to 2 years</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
					<lord-icon src="https://cdn.lordicon.com/huwchbks.json"
							   trigger="loop-on-hover"
							   delay="1000"
							   colors="primary:#000000,secondary:#30e849"
							   style="width:100px;height:100px">
					</lord-icon>
					<h4>Secure Payment</h4>
					<p>100% secure payment</p>
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
					<lord-icon src="https://cdn.lordicon.com/qhviklyi.json"
							   trigger="loop-on-hover"
							   delay="1000"
							   colors="primary:#121331,secondary:#f7941d"
							   style="width:100px;height:100px">
					</lord-icon>
					<h4>Best Price</h4>
					<p>Everything is discounted</p>
				</div>
				<!-- End Single Service -->
			</div>
		</div>
	</div>
</section>
<!-- // -->